airflow[celery,mysql]==1.8.0
redis==2.10.5
python-arango==3.5.0
aliyun-python-sdk-core==2.2.1
aliyun-python-sdk-ecs==3.0.0
aliyun-python-sdk-rds==2.1.0
aliyun-python-sdk-slb==2.1.2
./vendor/aliyun-python-sdk-r-kvstore
